*{
    margin: 0;
    padding: 0;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    max-width: 100vw;
    height: 100vh;
    background: #242D34;
}

.container-log{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log{
    margin: 30px 50px;
    padding: 0 20px 20px 20px;
    background-color: #000;
    width: 600px;
    border-radius: 15px;
}



.barra{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    height: 50px;
}

.x{
    margin: 2px 41% 2px 10px;
}

.barra img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}



.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.inicio h1{
    color: #fff;
}



.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-item button{
    background: #fff;
    margin: 15px;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.btn-item button:hover{
    background: #EFF3F4;
    cursor: pointer;
}

.btn-item img{
    position: absolute;
    margin: 25px 2px 2px 35px;
    width: 20px;
    height: 20px;
}

.btn-item button h3{
    padding: 0 2px 4px 30px;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.tel input{
    width: 260px;
    height: 60px;
    padding-left: 12px;
    border: 1px solid;
    border-color: #242424;
    background: #000;
    border-radius: 4px;
    font-size: 17px;
    color: #fff;
    text-overflow: ellipsis;
}

.tel input:focus{
    border-color: #1D9BF0;
    color: #fff;
}

.btn button{
    background: #fff;
    margin: 15px;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.btn button h3{
    color: #0F1419;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.btn-b button{
    background: #000;
    color: #fff;
    margin: 15px;
    border: 1px solid #45535E;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    transition: background .5s ease;
}

.btn-b button:hover{
    background: #181919;
}

.btn-b button h3{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.txt-nc{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.txt-nc p{
    color: #71767B;
    margin: 2px;
    font-size: 15px;
}

.txt-nc a{
    color: #1D9BF0;
    font-size: 15px;
    text-decoration: none;
    margin: 2px;
}

.txt-nc a:hover{
    text-decoration: underline;
}



@media screen and (max-width:704px) {
    .log{
        max-width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width:500px) {
    .x{
        margin: 2px 37% 2px 10px;
    }
    .txt-nc{
        margin: 10px;
    }
}

@media screen and (max-width:380px) {
    .inicio{
        width: 100%;
    }
}